[submodule "labs/toolslab"]
	path = modules/conclusion/tools
	url = https://github.com/OpenSecEd/toolslab.git
	branch = master
[submodule "makefiles"]
	path = makefiles
	url = https://github.com/dbosk/makefiles.git
	branch = master
[submodule "modules/ethics"]
	path = modules/intro/ethics
	url = https://github.com/OpenSecEd/ethics.git
	branch = master
[submodule "modules/appliedcrypto"]
	path = modules/crypto/appliedcrypto
	url = https://github.com/OpenSecEd/appliedcrypto.git
	branch = master
[submodule "modules/foundations"]
	path = modules/foundations/security
	url = https://github.com/OpenSecEd/foundations.git
	branch = master
[submodule "modules/infotheory"]
	path = modules/crypto/infotheory
	url = https://github.com/OpenSecEd/infotheory.git
	branch = master
[submodule "labs/pricomlab"]
	path = modules/ac/pricomlab
	url = https://github.com/OpenSecEd/pricomlab.git
	branch = master
[submodule "modules/auth"]
	path = modules/auth/auth
	url = https://github.com/OpenSecEd/auth.git
	branch = master
[submodule "modules/usability"]
	path = modules/foundations/usability
	url = https://github.com/OpenSecEd/usability.git
	branch = master
[submodule "modules/ac"]
	path = modules/ac/ac
	url = https://github.com/OpenSecEd/ac.git
	branch = master
[submodule "modules/accountability"]
	path = modules/accountability/accountability
	url = https://github.com/OpenSecEd/accountability.git
	branch = master
[submodule "modules/software"]
	path = modules/software/software
	url = https://github.com/OpenSecEd/software.git
	branch = master
[submodule "modules/trustcomp"]
	path = modules/trustcomp/trustcomp
	url = https://github.com/OpenSecEd/trustcomp.git
	branch = master
[submodule "modules/sidechannels"]
	path = modules/trustcomp/sidechannels
	url = https://github.com/OpenSecEd/sidechannels.git
	branch = master
[submodule "miuntex"]
	path = miuntex
	url = https://github.com/dbosk/miuntex.git
[submodule "bibedu"]
	path = bibedu
	url = https://github.com/dbosk/bibedu.git
[submodule "bibsp"]
	path = bibsp
	url = https://github.com/dbosk/bibsp.git
[submodule "modules/fverif"]
	path = modules/protocols/fverif
	url = https://github.com/OpenSecEd/fverif.git
