[submodule "labs/drm"]
	path = labs/drm
	url = https://github.com/dbosk/drmlab.git
	branch = master
[submodule "labs/stacksmash"]
	path = labs/stacksmash
	url = https://github.com/dbosk/stacksmashlab.git
	branch = master
[submodule "labs/malware"]
	path = labs/malware
	url = https://github.com/dbosk/malwarelab.git
	branch = master
[submodule "labs/toolslab"]
	path = labs/tools
	url = https://github.com/dbosk/toolslab.git
	branch = master
